include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
recursive-include msef/user_data *.json
recursive-include msef/user_data *.py
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *~
